@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    font-family: 'Nunito', sans-serif;
    background-color: #c0c1b7;
}
.button{
    padding: 20px;
    background-color: #afcbff;
    color: #fb3958; 
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #789fcc;
}
.c{
    background-color: #FFB449;
    border: 3px solid #FF971A;
    color: #4D4D4F;
}

